
@import 'bootstrap';

 .button {
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 }

#email {
  margin-left: auto;
}

.all-claims {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  height: 100%;
}

.remaining {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 3, 4;
}

.claims {
  grid-column: 3, 4;
  border: 1px solid black;
  height: 100%;
  padding-left: 2px;

}

#list {
  padding-bottom: 20%;
}

.main-claim {
  padding-left: 50%;
  padding-top: 50%;
  padding-bottom: 50%;
}

.sign-up {
  padding-left: 20px;
  padding-top: 20px;
}

.landing {
  margin: 50% 50%;
  width: 15rem;
  margin-top: 10%;
  height: 50%;
  font-size: 5rem;
}

.landing-user {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

.landing-wizard  {
  padding-top: 25%;
}
